<div id="about-modal" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <p>Created by: Brendan O'Connor</p>
    <p>Version: 0.0.0</p>
  </div>
</div>
