<nav class="uk-navbar uk-navbar-container uk-margin uk-navbar-transparent uk-light">
  <div class="uk-navbar-left">
    <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #nav-menu"></a>
    <a class="uk-navbar-item uk-logo" href="/">
      <img width="150" src="../../../assets/images/title.png">
    </a>
  </div>
</nav>
<div id="nav-menu" uk-offcanvas="overlay: true; mode: push">
  <div class="uk-offcanvas-bar uk-background-" id="nav-menu-bar">
    <button class="uk-offcanvas-close uk-hidden@s" type="button" uk-close></button>
    <img src="../../../assets/images/logo.png" class="uk-hidden@s">
    <ul class="uk-list uk-list-large uk-list-divider">
      <li>
        <button class="uk-button uk-button-default nav-menu-bar-item" style="width:100%;">
          <span uk-icon="icon: user; ratio: 1.5" class="uk-float-left" style="padding-right:10px;"></span>
          <span class="uk-float-left">Welcome, User!</span>
        </button>
      </li>
      <li>
        <button class="uk-button uk-button-default nav-menu-bar-item" style="width:100%;">
          <span uk-icon="icon: info; ratio: 1.5" class="uk-float-left" style="padding-right:10px"></span>
          <span class="uk-float-left">About</span>
        </button>
      </li>
    </ul>
  </div>
</div>
