.nav-menu-bar-item {
  border: none !important;
}

/*********************************/
/*         Mobile Styling        */
/*********************************/

/* Styling for when devices are phones */
@media (max-width: 639px) {
  #nav-menu-bar {
    width: 100%;
  }
}
