<div class="uk-text-center">
  <span class="uk-light" uk-icon="icon: warning; ratio: 5"></span>
  <h1 class="uk-light">Uh-oh!</h1>
  <h2 class="uk-light">Please refresh or try again later</h2>
</div>
