/*********************************/
/*          Movie Score          */
/*********************************/
.good-rating {
  color: green;
  font-weight: bold;
}

.average-rating {
  color: orange;
  font-weight: bold;
}

.bad-rating {
  color: red;
  font-weight: bold;
}

/*********************************/
/*          Movie Trailer        */
/*********************************/
#trailer-wrapper {
  width: 100%;
  height: 300px;
}

#trailer-iframe {
  width: inherit;
  height: inherit;
}

/*********************************/
/*   Movie Details Modal Title   */
/*********************************/
.movie-details-top-bar{
  height: 48px;
}

/*********************************/
/*         Movie Rating          */
/*********************************/
.uk-label {
  color: #666 !important;
  background: none !important;
  border: 1px solid #666;
}

/*********************************/
/*         Mobile Styling        */
/*********************************/

/* Styling for when devices are phones */
@media (max-width: 639px) {
  #movie-details {
    padding: 0;
  }
}

/*********************************/
/*          Movie Title          */
/*********************************/
.movie-details-title {
  margin-top: 20px;
}
