<!-- The top bar of the modal. This contains the X button -->
<!-- TODO: Make this sticky so that if the user scrolls down, the X button is always accessible -->
<div class="movie-details-top-bar">
  <button class="uk-modal-close-default" type="button" uk-close></button>
</div>

<div class="uk-modal-header uk-background-secondary uk-light">
  <div class="uk-inline" style="width:100%">
    <div id="trailer-wrapper">
      <iframe #trailerIframe id="trailer-iframe" [src]="getSafeTrailerUrl()" frameborder="0" allow="encrypted-media" [hidden]="!trailer_loaded"></iframe>
      <div id="trailer-loading" class="uk-position-center" uk-spinner="ratio: 4" *ngIf="!trailer_loaded"></div>
    </div>
  </div>
  <h1 class="movie-details-title" [textContent]="movie.Title"></h1>
  <span [ngClass]="{'good-rating' : movie.Details.Score >= 75, 'average-rating' : movie.Details.Score >= 50 && movie.Details.Score < 75, 'bad-rating' : movie.Details.Score < 50 }">{{ movie.Details.Score }}%&nbsp;</span>
  <span [textContent]="movie.Details.Year"></span>&nbsp;
  <span class="uk-label" [textContent]="movie.Details.Rating"></span>&nbsp;
  <span [textContent]="movie.Details.Runtime"></span>
</div>
<div class="uk-modal-body" uk-overflow-auto>
  <p [textContent]="movie.Details.Description"></p>
  <p>Cast: <span [textContent]="movie.Details.Cast"></span></p>
  <p>Director: <span [textContent]="movie.Details.Director"></span></p>
</div>
