<!-- The searchbar -->
<form #queryForm class="uk-search uk-search-large">
  <span uk-search-icon></span>
  <input class="uk-search-input" type="search" placeholder="Search...">
</form>

<!-- The error message if the server couldn't be contacted -->
<div *ngIf="failed_to_load">
  <app-error></app-error>
</div>

<!-- The contents of the page if the server could be contacted -->
<div *ngIf="!failed_to_load">
  <!-- The results from a custom search -->
  <div *ngIf="custom_search" (appAfterIf)="handleCustomSearchShow()">
    <app-library-section id="ResultsSection" [section_movies]="searched_movies" [section_title]="'Results'"
                         (selected_movie)="handleSelectedMovieLoad($event)"></app-library-section>
  </div>

  <!-- All of the all_movies sorted by different categories -->
  <div *ngIf="!custom_search" (appAfterIf)="handleLibraryShow()">
    <app-library-section *ngIf="movies_loaded" id="EverythingSection" [section_movies]="all_movies" [section_title]="'Everything'"
                         (selected_movie)="handleSelectedMovieLoad($event)"></app-library-section>
    <app-library-section *ngIf="movies_loaded" id="SuperherosSection" [section_movies]="superhero_movies" [section_title]="'Superheros'"
                         (selected_movie)="handleSelectedMovieLoad($event)"></app-library-section>
    <app-library-section *ngIf="movies_loaded" id="AnimatedSection" [section_movies]="animated_movies" [section_title]="'Animated'"
                         (selected_movie)="handleSelectedMovieLoad($event)"></app-library-section>
    <app-library-section *ngIf="movies_loaded" id="HorrorSection" [section_movies]="horror_movies" [section_title]="'Horror'"
                         (selected_movie)="handleSelectedMovieLoad($event)"></app-library-section>
  </div>
</div>

<!-- The modal that contains the movie details when a movie is selected -->
<div #movieDetailsModal id="movie-details" uk-modal>
  <div id="movie-details-modal" class="uk-modal-dialog uk-background-secondary uk-light">
    <app-movie-details [movie]="selected_movie" *ngIf="show_movie_details"></app-movie-details>
  </div>
</div>
