<h4 class="library-section-title" [textContent]="section_title"></h4>

<!-- The slider that contains the movies for this section's category -->
<div class="uk-position-relative uk-visible-toggle uk-light" uk-slider>
  <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-child-width-1-6@l">
    <li *ngFor="let movie of section_movies" class="movie">
      <a href="#movie-details" uk-toggle (click)="handleMovieClicked(movie)">
        <img [src]="movie.Details.Image" [alt]="movie.Title">
      </a>
    </li>
  </ul>
  <a class="uk-position-center-left uk-position-small uk-hidden-hover library-navigator">
    <div class="uk-inline library-navigator-arrow" uk-slider-item="previous">
      <div class="uk-position-center" uk-slidenav-previous></div>
    </div>
  </a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover library-navigator">
    <div class="uk-inline library-navigator-arrow" uk-slider-item="next">
      <div class="uk-position-center" uk-slidenav-next></div>
    </div>
  </a>
</div>
