/*********************************/
/*   Library Section Navigation  */
/*********************************/
.library-navigator {
  margin-left:0;
  margin-right:0;
  height:100%;
  width:45px;
  background-color:black;
  opacity:.5;
}

.library-navigator-arrow {
  width:inherit;
  height:inherit;
}

/*********************************/
/*      Library Section Title    */
/*********************************/
.library-section-title {
  margin: 5px 5px;
  color: white;
}
